# In order to obtain an IMS_CLIENT_ID you will need to raise a support ticket with Adobe.
# Client Id's created via Adobe Developer Console will not work for Content Advisor.
IMS_CLIENT_ID=<YOUR_IMS_CLIENT_ID>
# IMS_ORG=<YOUR_IMS_ORG>
