@import url('./shared.css');

body {
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  color-scheme: dark light;
  font-family: system-ui;
}

.spectrum_b37d53 {
  -webkit-tap-highlight-color: #0000;
}


.spectrum-Icon_368b34:not(:root) {
  overflow: hidden;
}

.spectrum-Button_e2d99e:after,.spectrum-ActionButton_e2d99e:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Button_e2d99e,.spectrum-ActionButton_e2d99e {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-touch-action: none;
}

button.spectrum-Button_e2d99e,button.spectrum-ActionButton_e2d99e {
  -webkit-appearance: button;
}

.spectrum-Button_e2d99e:disabled,.spectrum-ActionButton_e2d99e:disabled {
  cursor: default;
}

[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e:only-child {
  padding-right: var(--spectrum-actionbutton-icon-padding-x, var(--spectrum-global-dimension-size-85));
}

.spectrum-ActionButton-label_e2d99e,.spectrum-Button-label_e2d99e {
  -ms-grid-row-align: center;
}


.spectrum-Button_e2d99e:not([data-static-color])[data-variant=accent][data-style=fill] {
  --spectrum-button-color: var(--spectrum-accent-background-color-default);
  --spectrum-button-color-hover: var(--spectrum-accent-background-color-hover);
  --spectrum-button-color-down: var(--spectrum-accent-background-color-down);
  --spectrum-button-color-key-focus: var(--spectrum-accent-background-color-key-focus);
}

.spectrum-ActionButton_e2d99e:disabled,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e {
  background-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-background-color-disabled, var(--spectrum-global-color-gray-200)));
  border-color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-border-color-disabled, var(--spectrum-alias-border-color-disabled)));
  color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-text-color-disabled, var(--spectrum-alias-text-color-disabled)));
}

.spectrum-ActionButton_e2d99e:disabled .spectrum-Icon_e2d99e,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e .spectrum-Icon_e2d99e {
  fill: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-icon-color-disabled, var(--spectrum-alias-icon-color-disabled)));
}


.flex-container_7684cb {
  display: flex;
}

.flex-gap_7684cb {
  margin: calc(var(--row-gap)/-2) calc(var(--column-gap)/-2);
  width: calc(100% + var(--column-gap) + 1px);
  height: calc(100% + var(--row-gap));
}

.flex-container_7684cb .flex-gap_7684cb>* {
  margin: calc(var(--row-gap)/2) calc(var(--column-gap)/2);
}

.spectrum-ActionGroup_7684cb {
  flex-wrap: wrap;
  display: flex;
}

.spectrum-ActionGroup_7684cb .spectrum-ActionGroup-item_7684cb {
  flex-shrink: 0;
}


.spectrum-ActionGroup--compact_7684cb {
  --column-gap: var(--spectrum-actiongroup-compact-button-gap);
  --row-gap: 0px;
}

.spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) {
  flex-wrap: nowrap;
}

.spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb {
  --spectrum-button-border-radius: 0px;
  z-index: 1;
  position: relative;
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:first-child {
  border-top-left-radius: var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:first-child {
  border-bottom-left-radius: var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:first-child:after {
  border-top-left-radius: calc(var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular)) + var(--spectrum-alias-focus-ring-gap, var(--spectrum-global-dimension-static-size-25)));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:first-child:after {
  border-bottom-left-radius: calc(var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular)) + var(--spectrum-alias-focus-ring-gap, var(--spectrum-global-dimension-static-size-25)));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:last-child {
  border-top-right-radius: var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:last-child {
  border-bottom-right-radius: var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:last-child:after {
  border-top-right-radius: calc(var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular)) + var(--spectrum-alias-focus-ring-gap, var(--spectrum-global-dimension-static-size-25)));
}

[dir=ltr] .spectrum-ActionGroup--compact_7684cb:not(.spectrum-ActionGroup--quiet_7684cb) .spectrum-ActionGroup-item_7684cb:last-child:after {
  border-bottom-right-radius: calc(var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular)) + var(--spectrum-alias-focus-ring-gap, var(--spectrum-global-dimension-static-size-25)));
}


.spectrum-Button_e2d99e:after,.spectrum-ActionButton_e2d99e:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Button_e2d99e,.spectrum-ActionButton_e2d99e {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-touch-action: none;
}

button.spectrum-Button_e2d99e,button.spectrum-ActionButton_e2d99e {
  -webkit-appearance: button;
}

.spectrum-Button_e2d99e:disabled,.spectrum-ActionButton_e2d99e:disabled {
  cursor: default;
}


[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e:only-child {
  padding-right: var(--spectrum-actionbutton-icon-padding-x, var(--spectrum-global-dimension-size-85));
}

.spectrum-ActionButton-label_e2d99e,.spectrum-Button-label_e2d99e {
  -ms-grid-row-align: center;
}


.spectrum-Button_e2d99e:not([data-static-color])[data-variant=accent][data-style=fill] {
  --spectrum-button-color: var(--spectrum-accent-background-color-default);
  --spectrum-button-color-hover: var(--spectrum-accent-background-color-hover);
  --spectrum-button-color-down: var(--spectrum-accent-background-color-down);
  --spectrum-button-color-key-focus: var(--spectrum-accent-background-color-key-focus);
}


.spectrum-ActionButton_e2d99e:disabled,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e {
  background-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-background-color-disabled, var(--spectrum-global-color-gray-200)));
  border-color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-border-color-disabled, var(--spectrum-alias-border-color-disabled)));
  color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-text-color-disabled, var(--spectrum-alias-text-color-disabled)));
}

.spectrum-ActionButton_e2d99e:disabled .spectrum-Icon_e2d99e,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e .spectrum-Icon_e2d99e {
  fill: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-icon-color-disabled, var(--spectrum-alias-icon-color-disabled)));
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) {
  display: -ms-inline-grid;
  -ms-grid-columns: auto auto minmax(0, 1fr);
  -ms-grid-rows: auto 1fr auto;
  width: var(--spectrum-field-default-width);
  grid-template: "label contextualHelp." "field field field" 1fr"helpText helpText helpText" /auto auto minmax(0, 1fr);
  align-content: start;
  display: inline-grid;
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) .spectrum-Field-field_d2db1f {
  width: 100%;
  grid-area: field;
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) {
  display: -ms-inline-grid;
  -ms-grid-columns: auto auto minmax(0, 1fr);
  -ms-grid-rows: auto 1fr auto;
  width: var(--spectrum-field-default-width);
  grid-template: "label contextualHelp." "field field field" 1fr"helpText helpText helpText" /auto auto minmax(0, 1fr);
  align-content: start;
  display: inline-grid;
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) .spectrum-Field-field_d2db1f {
  width: 100%;
  grid-area: field;
}

.spectrum-Textfield_73bc77:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Textfield-input_73bc77 {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.spectrum-Textfield-input_73bc77::placeholder,.spectrum-Textfield-input_73bc77.is-placeholder_73bc77 {
  font-weight: var(--spectrum-textfield-placeholder-text-font-weight, var(--spectrum-global-font-weight-regular));
  font-style: var(--spectrum-textfield-placeholder-text-font-style, var(--spectrum-global-font-style-italic));
  font-synthesis: none;
  transition: color var(--spectrum-global-animation-duration-100, .13s) ease-in-out;
  opacity: 1;
}


.spectrum-Textfield-input_73bc77::placeholder,.spectrum-Textfield-input_73bc77.is-placeholder_73bc77 {
  color: var(--spectrum-textfield-placeholder-text-color, var(--spectrum-alias-placeholder-text-color));
}


.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) {
  display: -ms-inline-grid;
  -ms-grid-columns: auto auto minmax(0, 1fr);
  -ms-grid-rows: auto 1fr auto;
  width: var(--spectrum-field-default-width);
  grid-template: "label contextualHelp." "field field field" 1fr"helpText helpText helpText" /auto auto minmax(0, 1fr);
  align-content: start;
  display: inline-grid;
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) .spectrum-Field-field_d2db1f {
  width: 100%;
  grid-area: field;
}


.spectrum-Button_e2d99e:after,.spectrum-ActionButton_e2d99e:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Button_e2d99e,.spectrum-ActionButton_e2d99e {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-touch-action: none;
}

button.spectrum-Button_e2d99e,button.spectrum-ActionButton_e2d99e {
  -webkit-appearance: button;
}


.spectrum-Button_e2d99e:disabled,.spectrum-ActionButton_e2d99e:disabled {
  cursor: default;
}

[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e:only-child {
  padding-right: var(--spectrum-actionbutton-icon-padding-x, var(--spectrum-global-dimension-size-85));
}

.spectrum-ActionButton-label_e2d99e,.spectrum-Button-label_e2d99e {
  -ms-grid-row-align: center;
}


.spectrum-Button_e2d99e:not([data-static-color])[data-variant=accent][data-style=fill] {
  --spectrum-button-color: var(--spectrum-accent-background-color-default);
  --spectrum-button-color-hover: var(--spectrum-accent-background-color-hover);
  --spectrum-button-color-down: var(--spectrum-accent-background-color-down);
  --spectrum-button-color-key-focus: var(--spectrum-accent-background-color-key-focus);
}


.spectrum-ActionButton_e2d99e:disabled,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e {
  background-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-background-color-disabled, var(--spectrum-global-color-gray-200)));
  border-color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-border-color-disabled, var(--spectrum-alias-border-color-disabled)));
  color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-text-color-disabled, var(--spectrum-alias-text-color-disabled)));
}

.spectrum-ActionButton_e2d99e:disabled .spectrum-Icon_e2d99e,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e .spectrum-Icon_e2d99e {
  fill: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-icon-color-disabled, var(--spectrum-alias-icon-color-disabled)));
}

.spectrum-Textfield_73bc77:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Textfield-input_73bc77 {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.spectrum-Textfield-input_73bc77::placeholder,.spectrum-Textfield-input_73bc77.is-placeholder_73bc77 {
  font-weight: var(--spectrum-textfield-placeholder-text-font-weight, var(--spectrum-global-font-weight-regular));
  font-style: var(--spectrum-textfield-placeholder-text-font-style, var(--spectrum-global-font-style-italic));
  font-synthesis: none;
  transition: color var(--spectrum-global-animation-duration-100, .13s) ease-in-out;
  opacity: 1;
}

.spectrum-Textfield-input_73bc77::placeholder,.spectrum-Textfield-input_73bc77.is-placeholder_73bc77 {
  color: var(--spectrum-textfield-placeholder-text-color, var(--spectrum-alias-placeholder-text-color));
}


[dir=ltr] .spectrum-Rule_612bb8 {
  margin-left: 0;
}

[dir=ltr] .spectrum-Rule_612bb8 {
  margin-right: 0;
}

.spectrum-Rule_612bb8 {
  border: none;
  border-width: var(--spectrum-rule-medium-height, var(--spectrum-global-dimension-static-size-25));
  -ms-grid-row-align: stretch;
  align-self: stretch;
  margin: 0;
  overflow: visible;
}

.spectrum-Rule--medium_612bb8 {
  border-radius: var(--spectrum-rule-medium-border-radius, var(--spectrum-global-dimension-static-size-10));
}

.spectrum-Rule--small_612bb8 {
  border-radius: var(--spectrum-rule-small-border-radius, var(--spectrum-global-dimension-static-size-10));
}

.spectrum-Rule--horizontal_612bb8.spectrum-Rule--medium_612bb8 {
  height: var(--spectrum-rule-medium-height, var(--spectrum-global-dimension-static-size-25));
}

.spectrum-Rule--horizontal_612bb8.spectrum-Rule--small_612bb8 {
  height: var(--spectrum-rule-small-height, var(--spectrum-global-dimension-static-size-10));
}

.spectrum-Rule--vertical_612bb8 {
  height: auto;
}

.spectrum-Rule--vertical_612bb8.spectrum-Rule--medium_612bb8 {
  width: var(--spectrum-rule-medium-height, var(--spectrum-global-dimension-static-size-25));
}

.spectrum-Rule--medium_612bb8 {
  background-color: var(--spectrum-rule-medium-background-color, var(--spectrum-global-color-gray-300));
}

.spectrum-Rule--small_612bb8 {
  background-color: var(--spectrum-rule-small-background-color, var(--spectrum-global-color-gray-300));
}

.spectrum-Textfield-input_73bc77 {
  font-family: adobe-clean-ux, adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

.spectrum-Textfield_73bc77 {
  --spectrum-focus-ring-border-radius: var(--spectrum-textfield-border-radius, var(--spectrum-alias-border-radius-regular));
  --spectrum-focus-ring-gap: var(--spectrum-alias-input-focusring-gap);
  --spectrum-focus-ring-size: var(--spectrum-alias-input-focusring-size);
  --spectrum-focus-ring-border-size: 0px;
  --spectrum-focus-ring-color: var(--spectrum-high-contrast-focus-ring-color, var(--spectrum-alias-focus-ring-color, var(--spectrum-alias-focus-color)));
}

.spectrum-Textfield_73bc77:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Textfield_73bc77 {
  min-width: var(--spectrum-textfield-min-width, var(--spectrum-global-dimension-size-600));
  width: var(--spectrum-alias-single-line-width, var(--spectrum-global-dimension-size-2400));
  display: inline-flex;
  position: relative;
}

.spectrum-Textfield-input_73bc77 {
  box-sizing: border-box;
  border: var(--spectrum-alias-input-border-size) solid;
  border-radius: var(--spectrum-textfield-border-radius, var(--spectrum-alias-border-radius-regular));
  padding: 3px var(--spectrum-textfield-padding-x, var(--spectrum-global-dimension-size-150)) 5px calc(var(--spectrum-textfield-padding-x, var(--spectrum-global-dimension-size-150)) - 1px);
  text-indent: 0;
  width: 100%;
  height: var(--spectrum-textfield-height, var(--spectrum-alias-single-line-height));
  vertical-align: top;
  font-size: var(--spectrum-textfield-text-size, var(--spectrum-alias-font-size-default));
  line-height: var(--spectrum-textfield-text-line-height, var(--spectrum-alias-body-text-line-height));
  text-overflow: ellipsis;
  transition: border-color var(--spectrum-global-animation-duration-100, .13s) ease-in-out, box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  outline: none;
  margin: 0;
  overflow: visible;
}

.spectrum-Textfield-input_73bc77::placeholder,.spectrum-Textfield-input_73bc77.is-placeholder_73bc77 {
  font-weight: var(--spectrum-textfield-placeholder-text-font-weight, var(--spectrum-global-font-weight-regular));
  font-style: var(--spectrum-textfield-placeholder-text-font-style, var(--spectrum-global-font-style-italic));
  font-synthesis: none;
  transition: color var(--spectrum-global-animation-duration-100, .13s) ease-in-out;
  opacity: 1;
}

.spectrum-Textfield--multiline_73bc77 .spectrum-Textfield-input_73bc77 {
  min-height: var(--spectrum-global-dimension-size-700);
  padding: 3px var(--spectrum-textfield-padding-x, var(--spectrum-global-dimension-size-150)) 5px calc(var(--spectrum-textfield-padding-x, var(--spectrum-global-dimension-size-150)) - 1px);
  resize: none;
  overflow: auto;
}

.spectrum-Textfield-wrapper_73bc77 .spectrum-Textfield--multiline_73bc77 {
  min-height: 0;
  flex: auto;
}

.spectrum-Textfield-input_73bc77 {
  background-color: var(--spectrum-textfield-background-color, var(--spectrum-global-color-gray-50));
  border-color: var(--spectrum-textfield-border-color, var(--spectrum-alias-border-color));
  color: var(--spectrum-textfield-text-color, var(--spectrum-alias-text-color));
}

.spectrum-Textfield-input_73bc77::placeholder,.spectrum-Textfield-input_73bc77.is-placeholder_73bc77 {
  color: var(--spectrum-textfield-placeholder-text-color, var(--spectrum-alias-placeholder-text-color));
}

.spectrum-IllustratedMessage_02bd98 {
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spectrum-IllustratedMessage_02bd98 .spectrum-IllustratedMessage-heading_02bd98 {
  max-width: 500px;
  font-size: var(--spectrum-heading-quiet-2-text-size, var(--spectrum-alias-heading2-text-size));
  font-weight: var(--spectrum-heading-quiet-2-text-font-weight, var(--spectrum-alias-heading-text-font-weight-quiet));
  line-height: var(--spectrum-heading-quiet-2-text-line-height, var(--spectrum-alias-heading-text-line-height));
  font-style: var(--spectrum-heading-quiet-2-text-font-style, var(--spectrum-global-font-style-regular));
  letter-spacing: var(--spectrum-heading-quiet-2-text-letter-spacing, var(--spectrum-global-font-letter-spacing-none));
  text-transform: var(--spectrum-heading-quiet-2-text-transform, none);
  order: 2;
  margin: 0;
}

.spectrum-IllustratedMessage_02bd98 .spectrum-IllustratedMessage-description_02bd98 {
  max-width: 500px;
  font-style: var(--spectrum-body-4-emphasis-text-font-style, var(--spectrum-global-font-style-italic));
  font-size: var(--spectrum-body-4-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(--spectrum-body-4-text-font-weight, var(--spectrum-alias-body-text-font-weight));
  line-height: var(--spectrum-body-4-text-line-height, var(--spectrum-alias-body-text-line-height));
  letter-spacing: var(--spectrum-body-4-text-letter-spacing, var(--spectrum-global-font-letter-spacing-none));
  text-transform: var(--spectrum-body-4-text-transform, none);
  order: 3;
  margin: 4px 0 0;
}

.spectrum-IllustratedMessage-heading_02bd98 {
  color: var(--spectrum-heading-page-title-text-color, var(--spectrum-global-color-gray-700));
}

.spectrum-Image-img_fdc794 {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: block;
}

.spectrum-Field_d2db1f {
  --spectrum-field-default-width: var(--spectrum-alias-single-line-width, var(--spectrum-global-dimension-size-2400));
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) {
  display: -ms-inline-grid;
  -ms-grid-columns: auto auto minmax(0, 1fr);
  -ms-grid-rows: auto 1fr auto;
  width: var(--spectrum-field-default-width);
  grid-template: "label contextualHelp." "field field field" 1fr"helpText helpText helpText" /auto auto minmax(0, 1fr);
  align-content: start;
  display: inline-grid;
}

.spectrum-Field_d2db1f:where(.spectrum-Field--positionTop_d2db1f) .spectrum-Field-field_d2db1f {
  width: 100%;
  grid-area: field;
}

.spectrum-Link_5a03c7 {
  -webkit-text-decoration-skip: objects;
  transition: color var(--spectrum-global-animation-duration-100, .13s) ease-in-out;
  cursor: pointer;
  background-color: #0000;
  outline: none;
  text-decoration: underline;
}

.spectrum-Link_5a03c7 {
  color: var(--spectrum-accent-color-1000);
}

@media (forced-colors:none) {
  :root {
    --spectrum-slider-handle-border-color-key-focus: var(--spectrum-global-color-gray-800);
  }
}

.spectrum_b37d53 {
  background-color: var(--spectrum-alias-background-color-default, var(--spectrum-global-color-gray-100));
  -webkit-tap-highlight-color: #0000;
}

.spectrum_2a241c {
  font-family: adobe-clean-ux, adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

.spectrum_2a241c {
  color: var(--spectrum-global-color-gray-800);
}

.spectrum_2a241c {
  font-size: var(--spectrum-body-4-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(--spectrum-body-4-text-font-weight, var(--spectrum-alias-body-text-font-weight));
  line-height: var(--spectrum-body-4-text-line-height, var(--spectrum-alias-body-text-line-height));
  font-style: var(--spectrum-body-4-text-font-style, var(--spectrum-global-font-style-regular));
}

.spectrum-Button_e2d99e,.spectrum-ActionButton_e2d99e {
  font-family: adobe-clean-ux, adobe-clean, Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}

.spectrum-Button_e2d99e,.spectrum-ActionButton_e2d99e {
  --spectrum-focus-ring-color: var(--spectrum-high-contrast-focus-ring-color, var(--spectrum-alias-focus-ring-color, var(--spectrum-alias-focus-color)));
}

.spectrum-Button_e2d99e:after,.spectrum-ActionButton_e2d99e:after {
  border-radius: calc(var(--spectrum-focus-ring-border-radius) + var(--spectrum-focus-ring-gap));
  content: "";
  margin: calc(-1*var(--spectrum-focus-ring-border-size));
  pointer-events: none;
  transition: box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out, margin var(--spectrum-global-animation-duration-100, .13s) ease-out;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spectrum-Button_e2d99e,.spectrum-ActionButton_e2d99e {
  box-sizing: border-box;
  border-radius: var(--spectrum-button-border-radius);
  border-style: solid;
  border-width: var(--spectrum-button-border-width);
  --spectrum-focus-ring-border-radius: var(--spectrum-button-border-radius);
  --spectrum-focus-ring-border-size: var(--spectrum-button-border-width);
  --spectrum-focus-ring-gap: var(--spectrum-alias-focus-ring-gap, var(--spectrum-global-dimension-static-size-25));
  --spectrum-focus-ring-size: var(--spectrum-button-primary-focus-ring-size-key-focus, var(--spectrum-alias-focus-ring-size));
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  transition: background var(--spectrum-global-animation-duration-100, .13s) ease-out, border-color var(--spectrum-global-animation-duration-100, .13s) ease-out, color var(--spectrum-global-animation-duration-100, .13s) ease-out, box-shadow var(--spectrum-global-animation-duration-100, .13s) ease-out;
  -webkit-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  cursor: default;
  isolation: isolate;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 1.3;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: visible;
}

button.spectrum-Button_e2d99e,button.spectrum-ActionButton_e2d99e {
  -webkit-appearance: button;
}


.spectrum-Button_e2d99e:disabled,.spectrum-ActionButton_e2d99e:disabled {
  cursor: default;
}

.spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e {
  max-height: 100%;
  transition: background var(--spectrum-global-animation-duration-100, .13s) ease-out, fill var(--spectrum-global-animation-duration-100, .13s) ease-out;
  box-sizing: initial;
  flex-shrink: 0;
  order: 0;
}

.spectrum-Button_e2d99e {
  --spectrum-button-border-radius: var(--spectrum-button-primary-border-radius, var(--spectrum-alias-border-radius-large));
  --spectrum-button-border-width: var(--spectrum-button-primary-border-size, var(--spectrum-alias-border-size-thick));
  min-height: var(--spectrum-button-primary-height, var(--spectrum-alias-single-line-height));
  height: 0%;
  min-width: var(--spectrum-button-primary-min-width);
  padding: var(--spectrum-global-dimension-size-50) calc(var(--spectrum-button-primary-padding-x, var(--spectrum-global-dimension-size-200)) - var(--spectrum-button-primary-border-size, var(--spectrum-alias-border-size-thick)));
  padding-bottom: calc(var(--spectrum-global-dimension-size-50) + 1px);
  padding-top: calc(var(--spectrum-global-dimension-size-50) - 1px);
  font-size: var(--spectrum-button-primary-text-size, var(--spectrum-alias-pill-button-text-size));
  font-weight: var(--spectrum-button-primary-text-font-weight, var(--spectrum-global-font-weight-bold));
  border-style: solid;
}

.spectrum-ActionButton_e2d99e {
  height: var(--spectrum-actionbutton-height, var(--spectrum-alias-single-line-height));
  min-width: var(--spectrum-actionbutton-min-width, var(--spectrum-global-dimension-size-400));
  --spectrum-button-border-radius: var(--spectrum-actionbutton-border-radius, var(--spectrum-alias-border-radius-regular));
  --spectrum-button-border-width: var(--spectrum-actionbutton-border-size, var(--spectrum-alias-border-size-thin));
  font-size: var(--spectrum-actionbutton-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(--spectrum-actionbutton-text-font-weight, var(--spectrum-alias-body-text-font-weight));
  padding: 0;
  position: relative;
}

[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e {
  padding-left: var(--spectrum-actionbutton-icon-padding-x, var(--spectrum-global-dimension-size-85));
}

[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-ActionButton-label_e2d99e {
  padding-right: var(--spectrum-actionbutton-text-padding-x, var(--spectrum-global-dimension-size-150));
}

[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e+.spectrum-ActionButton-label_e2d99e {
  padding-left: var(--spectrum-actionbutton-icon-padding-x, var(--spectrum-global-dimension-size-85));
}

[dir=ltr] .spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e:only-child {
  padding-right: var(--spectrum-actionbutton-icon-padding-x, var(--spectrum-global-dimension-size-85));
}

.spectrum-ActionButton-label_e2d99e,.spectrum-Button-label_e2d99e {
  -ms-grid-row-align: center;
  text-align: center;
  width: 100%;
  order: 1;
  place-self: center;
}

.spectrum-ActionButton-label_e2d99e {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spectrum-ActionButton--quiet_e2d99e {
  border-width: var(--spectrum-actionbutton-quiet-border-size, var(--spectrum-alias-border-size-thin));
  border-radius: var(--spectrum-actionbutton-quiet-border-radius, var(--spectrum-alias-border-radius-regular));
  font-size: var(--spectrum-actionbutton-quiet-text-size, var(--spectrum-alias-font-size-default));
  font-weight: var(--spectrum-actionbutton-quiet-text-font-weight, var(--spectrum-alias-body-text-font-weight));
}

.spectrum-Button_e2d99e[data-style=fill] {
  --spectrum-button-text-color: white;
  --spectrum-button-text-color-hover: var(--spectrum-button-text-color);
  --spectrum-button-text-color-down: var(--spectrum-button-text-color);
  --spectrum-button-text-color-key-focus: var(--spectrum-button-text-color);
  --spectrum-button-text-color-disabled: var(--spectrum-alias-text-color-disabled, var(--spectrum-global-color-gray-500));
  --spectrum-button-color-disabled: var(--spectrum-alias-background-color-disabled);
  background-color: var(--spectrum-high-contrast-button-text, var(--spectrum-button-color));
  color: var(--spectrum-high-contrast-button-face, var(--spectrum-button-text-color));
  border-color: #0000;
}


.spectrum-Button_e2d99e:not([data-static-color])[data-variant=accent][data-style=fill] {
  --spectrum-button-color: var(--spectrum-accent-background-color-default);
  --spectrum-button-color-hover: var(--spectrum-accent-background-color-hover);
  --spectrum-button-color-down: var(--spectrum-accent-background-color-down);
  --spectrum-button-color-key-focus: var(--spectrum-accent-background-color-key-focus);
}


.spectrum-ActionButton_e2d99e {
  background-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-background-color, var(--spectrum-global-color-gray-75)));
  border-color: var(--spectrum-high-contrast-button-text, var(--spectrum-actionbutton-border-color, var(--spectrum-alias-border-color)));
  color: var(--spectrum-high-contrast-button-text, var(--spectrum-actionbutton-text-color, var(--spectrum-alias-text-color)));
}

.spectrum-ActionButton_e2d99e .spectrum-Icon_e2d99e {
  fill: var(--spectrum-high-contrast-button-text, var(--spectrum-actionbutton-icon-color, var(--spectrum-alias-icon-color)));
}

.spectrum-ActionButton_e2d99e:disabled,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e {
  background-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-background-color-disabled, var(--spectrum-global-color-gray-200)));
  border-color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-border-color-disabled, var(--spectrum-alias-border-color-disabled)));
  color: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-text-color-disabled, var(--spectrum-alias-text-color-disabled)));
}

.spectrum-ActionButton_e2d99e:disabled .spectrum-Icon_e2d99e,.spectrum-ActionButton_e2d99e.is-disabled_e2d99e .spectrum-Icon_e2d99e {
  fill: var(--spectrum-high-contrast-gray-text, var(--spectrum-actionbutton-icon-color-disabled, var(--spectrum-alias-icon-color-disabled)));
}

.spectrum-ActionButton--quiet_e2d99e {
  background-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-quiet-background-color, var(--spectrum-alias-background-color-transparent)));
  border-color: var(--spectrum-high-contrast-button-face, var(--spectrum-actionbutton-quiet-border-color, var(--spectrum-alias-border-color-transparent)));
  color: var(--spectrum-high-contrast-button-text, var(--spectrum-actionbutton-quiet-text-color, var(--spectrum-alias-text-color)));
}

.spectrum-Icon_368b34 {
  color: inherit;
  fill: currentColor;
  pointer-events: none;
  display: inline-block;
}

.spectrum-Icon_368b34:not(:root) {
  overflow: hidden;
}


.spectrum-Icon--sizeS_368b34 {
  height: var(--spectrum-alias-workflow-icon-size, var(--spectrum-global-dimension-size-225));
  width: var(--spectrum-alias-workflow-icon-size, var(--spectrum-global-dimension-size-225));
}

.spectrum-Icon--sizeM_368b34 {
  height: var(--spectrum-global-dimension-size-300);
  width: var(--spectrum-global-dimension-size-300);
}

.flex_e15493 {
  display: flex;
}

.sf-hidden {
  display: none !important;
}

.spectrum-Well_d48698 {
    min-width: var(--spectrum-global-dimension-size-2000);
    padding: var(--spectrum-global-dimension-size-200);
    margin-top: var(--spectrum-global-dimension-size-50);
    border-width: var(--spectrum-alias-border-size-thin,var(--spectrum-global-dimension-static-size-10));
    border-radius: var(--spectrum-alias-border-radius-regular,var(--spectrum-global-dimension-size-50));
    background-color: var(--spectrum-well-background-color);
    border-style: solid;
    border-color: var(--spectrum-well-border-color);
    display: block;
}

@keyframes dialog-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

dialog {
  animation-name: dialog-open;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#asset-selector-preview-button:hover, #asset-selector-preview-image:hover {
  cursor: pointer;
}

